/*
 *
 *  𝗖 𝗢 𝗟 𝗢 𝗥
 *  v 1.5.1
 *
 *  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

:root {

/*  General
 *  ─────────────────────────────────── */


/*  Gray
 *  ─────────────────────────────────── */


/*  Red
 *  ─────────────────────────────────── */


/*  Pink
 *  ─────────────────────────────────── */


/*  Grape
 *  ─────────────────────────────────── */


/*  Violet
 *  ─────────────────────────────────── */


/*  Indigo
 *  ─────────────────────────────────── */


/*  Blue
 *  ─────────────────────────────────── */


/*  Cyan
 *  ─────────────────────────────────── */


/*  Teal
 *  ─────────────────────────────────── */


/*  Green
 *  ─────────────────────────────────── */


/*  Lime
 *  ─────────────────────────────────── */


/*  Yellow
 *  ─────────────────────────────────── */


/*  Orange
 *  ─────────────────────────────────── */

}

* {
  font-family: 'VT323', 'Lato', monospace, sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212529;
  color: #ffffff;
}

.content {
  max-width: 600px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 50px 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper {
  width: 100%;
  line-height: 2em;
  font-size: 1.5em;
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1em;
  }
}

@media (max-width: 300px) {
  h2 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 0.8em;
  }
}
/*
 *
 *  𝗖 𝗢 𝗟 𝗢 𝗥
 *  v 1.5.1
 *
 *  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

:root {

/*  General
 *  ─────────────────────────────────── */


/*  Gray
 *  ─────────────────────────────────── */


/*  Red
 *  ─────────────────────────────────── */


/*  Pink
 *  ─────────────────────────────────── */


/*  Grape
 *  ─────────────────────────────────── */


/*  Violet
 *  ─────────────────────────────────── */


/*  Indigo
 *  ─────────────────────────────────── */


/*  Blue
 *  ─────────────────────────────────── */


/*  Cyan
 *  ─────────────────────────────────── */


/*  Teal
 *  ─────────────────────────────────── */


/*  Green
 *  ─────────────────────────────────── */


/*  Lime
 *  ─────────────────────────────────── */


/*  Yellow
 *  ─────────────────────────────────── */


/*  Orange
 *  ─────────────────────────────────── */

}

@-webkit-keyframes initial__flash___LzDl1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes initial__flash___LzDl1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes initial__loading___3ZJya {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes initial__loading___3ZJya {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.initial__content-section___1nuXk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0
}

.initial__content-section___1nuXk:last-child {}

.initial__content-section___1nuXk:last-child .initial__content-cursor___34oA8 {
background-color: #ffffff;

}

.initial__content-info___1I2_Y {
  line-height: 1.1em;
  font-size: 1.5em;
}

.initial__content-cursor___34oA8 {
  margin-left: 5px;
  width: 8px;
  height: 20px;
}

.initial__cursor-flash___3J-B0 {
  -webkit-animation: initial__flash___LzDl1 0.7s infinite ease-in-out;
          animation: initial__flash___LzDl1 0.7s infinite ease-in-out;
}

.initial__cursor-loading___1IOCE {
  -webkit-animation: initial__loading___3ZJya 0.7s infinite linear;
          animation: initial__loading___3ZJya 0.7s infinite linear;
}
